## Load and Import Data

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
filename = ('Data/bikeshare_train - bikeshare_train.csv')
df= pd.read_csv(filename)
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  object
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   casual      10886 non-null  int64
 10  registered  10886 non-null  int64
 11  count       10886 non-null  int64
dtypes: float64(3), int64(8), object(1)
memory usage: 1020.7+ KB

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 0:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 1:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 2:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 3:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 4:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [3]:
#1. Drop casual and registered columns
df.drop(['registered', 'casual'], axis = 1)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,count
0,2011-01-01 0:00:00,1,0,0,1,9.84,14.395,81,0.0000,16
1,2011-01-01 1:00:00,1,0,0,1,9.02,13.635,80,0.0000,40
2,2011-01-01 2:00:00,1,0,0,1,9.02,13.635,80,0.0000,32
3,2011-01-01 3:00:00,1,0,0,1,9.84,14.395,75,0.0000,13
4,2011-01-01 4:00:00,1,0,0,1,9.84,14.395,75,0.0000,1
...,...,...,...,...,...,...,...,...,...,...
10881,2012-12-19 19:00:00,4,0,1,1,15.58,19.695,50,26.0027,336
10882,2012-12-19 20:00:00,4,0,1,1,14.76,17.425,57,15.0013,241
10883,2012-12-19 21:00:00,4,0,1,1,13.94,15.910,61,15.0013,168
10884,2012-12-19 22:00:00,4,0,1,1,13.94,17.425,61,6.0032,129
10885,2012-12-19 23:00:00,4,0,1,1,13.12,16.665,66,8.9981,88

In [4]:
# Transform datatime columns
df['datetime'] = pd.to_datetime(df['datetime'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  datetime64[ns]
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   casual      10886 non-null  int64
 10  registered  10886 non-null  int64
 11  count       10886 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(8)
memory usage: 1020.7 KB

In [5]:
#2. Add columns for name of month, name of day of week and hour of the day

df['Name of the Month'] = df['datetime'].dt.month_name()
df['Name of the Day of the Week'] = df['datetime'].dt.day_name()
df['Hour of the Day'] = df['datetime'].dt.hour
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 15 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   datetime                     10886 non-null  datetime64[ns]
 1   season                       10886 non-null  int64
 2   holiday                      10886 non-null  int64
 3   workingday                   10886 non-null  int64
 4   weather                      10886 non-null  int64
 5   temp                         10886 non-null  float64
 6   atemp                        10886 non-null  float64
 7   humidity                     10886 non-null  int64
 8   windspeed                    10886 non-null  float64
 9   casual                       10886 non-null  int64
 10  registered                   10886 non-null  int64
 11  count                        10886 non-null  int64
 12  Name of the Month            10886 non-null  object
 13  Name of the Day of the Week  10886 non-null  object
 14  Hour of the Day              10886 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(9), object(2)
memory usage: 1.2+ MB

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,Name of the Month,Name of the Day of the Week,Hour of the Day
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,January,Saturday,0
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,January,Saturday,1
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32,January,Saturday,2
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13,January,Saturday,3
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1,January,Saturday,4

In [6]:
# Making all new columns objects
df['Hour of the Day'] = df['Hour of the Day'].astype('object')

In [7]:
df.dtypes

datetime                       datetime64[ns]
season                                  int64
holiday                                 int64
workingday                              int64
weather                                 int64
temp                                  float64
atemp                                 float64
humidity                                int64
windspeed                             float64
casual                                  int64
registered                              int64
count                                   int64
Name of the Month                      object
Name of the Day of the Week            object
Hour of the Day                        object
dtype: object

In [8]:
# Dropping datetime and season columns
df.drop(['datetime', 'season'], axis = 1)

,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,Name of the Month,Name of the Day of the Week,Hour of the Day
0,0,0,1,9.84,14.395,81,0.0000,3,13,16,January,Saturday,0
1,0,0,1,9.02,13.635,80,0.0000,8,32,40,January,Saturday,1
2,0,0,1,9.02,13.635,80,0.0000,5,27,32,January,Saturday,2
3,0,0,1,9.84,14.395,75,0.0000,3,10,13,January,Saturday,3
4,0,0,1,9.84,14.395,75,0.0000,0,1,1,January,Saturday,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10881,0,1,1,15.58,19.695,50,26.0027,7,329,336,December,Wednesday,19
10882,0,1,1,14.76,17.425,57,15.0013,10,231,241,December,Wednesday,20
10883,0,1,1,13.94,15.910,61,15.0013,4,164,168,December,Wednesday,21
10884,0,1,1,13.94,17.425,61,6.0032,12,117,129,December,Wednesday,22
10885,0,1,1,13.12,16.665,66,8.9981,4,84,88,December,Wednesday,23

In [9]:
#3. Convert temp and atemp to farenheit using apply and lambda
df['temp'] = df['temp'].apply(lambda x: (9/5)*x + 32)
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,Name of the Month,Name of the Day of the Week,Hour of the Day
0,2011-01-01 00:00:00,1,0,0,1,49.712,14.395,81,0.0,3,13,16,January,Saturday,0
1,2011-01-01 01:00:00,1,0,0,1,48.236,13.635,80,0.0,8,32,40,January,Saturday,1
2,2011-01-01 02:00:00,1,0,0,1,48.236,13.635,80,0.0,5,27,32,January,Saturday,2
3,2011-01-01 03:00:00,1,0,0,1,49.712,14.395,75,0.0,3,10,13,January,Saturday,3
4,2011-01-01 04:00:00,1,0,0,1,49.712,14.395,75,0.0,0,1,1,January,Saturday,4

In [10]:
df['atemp'] = df['atemp'].apply(lambda x: (9/5)*x + 32)
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,Name of the Month,Name of the Day of the Week,Hour of the Day
0,2011-01-01 00:00:00,1,0,0,1,49.712,57.911,81,0.0,3,13,16,January,Saturday,0
1,2011-01-01 01:00:00,1,0,0,1,48.236,56.543,80,0.0,8,32,40,January,Saturday,1
2,2011-01-01 02:00:00,1,0,0,1,48.236,56.543,80,0.0,5,27,32,January,Saturday,2
3,2011-01-01 03:00:00,1,0,0,1,49.712,57.911,75,0.0,3,10,13,January,Saturday,3
4,2011-01-01 04:00:00,1,0,0,1,49.712,57.911,75,0.0,0,1,1,January,Saturday,4

In [11]:
# Subtracting atemp from temp and making temp_variance column
df['temp_variance'] = df['temp'] - df['atemp']
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,Name of the Month,Name of the Day of the Week,Hour of the Day,temp_variance
0,2011-01-01 00:00:00,1,0,0,1,49.712,57.911,81,0.0,3,13,16,January,Saturday,0,-8.199
1,2011-01-01 01:00:00,1,0,0,1,48.236,56.543,80,0.0,8,32,40,January,Saturday,1,-8.307
2,2011-01-01 02:00:00,1,0,0,1,48.236,56.543,80,0.0,5,27,32,January,Saturday,2,-8.307
3,2011-01-01 03:00:00,1,0,0,1,49.712,57.911,75,0.0,3,10,13,January,Saturday,3,-8.199
4,2011-01-01 04:00:00,1,0,0,1,49.712,57.911,75,0.0,0,1,1,January,Saturday,4,-8.199

In [12]:
df.drop(['atemp'], axis = 1)
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,Name of the Month,Name of the Day of the Week,Hour of the Day,temp_variance
0,2011-01-01 00:00:00,1,0,0,1,49.712,57.911,81,0.0,3,13,16,January,Saturday,0,-8.199
1,2011-01-01 01:00:00,1,0,0,1,48.236,56.543,80,0.0,8,32,40,January,Saturday,1,-8.307
2,2011-01-01 02:00:00,1,0,0,1,48.236,56.543,80,0.0,5,27,32,January,Saturday,2,-8.307
3,2011-01-01 03:00:00,1,0,0,1,49.712,57.911,75,0.0,3,10,13,January,Saturday,3,-8.199
4,2011-01-01 04:00:00,1,0,0,1,49.712,57.911,75,0.0,0,1,1,January,Saturday,4,-8.199